{
  "azure": {
    "subscription_id": "YOUR_SUBSCRIPTION_ID",
    "resource_group": "YOUR_RESOURCE_GROUP",
    "log_analytics_workspace_name": "YOUR_LOG_ANALYTICS_WORKSPACE_NAME"
  },
  "email": {
    "personal_alert_recipient": "recipient@oncld.io",
    "summary_alert_recipient": "summary_recipient@oncld.io",
    "error_notification_recipient": "admin@oncld.io",
    "it_support_email": "support@oncld.io"
  }
}

